* {
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: #ffc767;
    /* background-color: #91A6FF; */
    /* background: linear-gradient(120deg, #ffd23c 0%, #fda085 100%); */
}

#main_container {
    /* border: 1px solid; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: linear-gradient(120deg, #ffd23c 0%, #ffac05 100%);
    width: 30%;
    margin: auto;
    height: 650px;
    margin-top: 4rem;
}

#btnContainer {
    /* border: 1px solid; */
    width: 80%;
    margin: auto;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: white;
    border-radius: 50%;
    border: none;
    height: 100px;
    width: 100px;
    font-size: 45px;
    text-align: center;
    transition: all .5s;
}

button:hover {
    transform: scale(1.05);
}

#result_container {
    /* border: 1px solid; */
    height: 250px;
    width: 90%;
    margin: auto;
    text-align: center;
}

#msg {
    /* border: 1px solid; */
    height: 50px;
    font-size: 25px;
    opacity: 0.9;
}

#result {
    font-size: 24px;
}

#total_score {
    /* border: 1px solid; */
    /* margin-top: 3rem; */
    padding: 1rem;
    font-size: 30px;
    letter-spacing: 4px;
}

#end {
    /* border: 1px solid; */
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 1340px) {
    #main_container {
        /* border: 5px solid; */
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        /* background: linear-gradient(120deg, #ffd23c 0%, #ffac05 100%); */
        width: 40%;
        margin: auto;
        height: 650px;
        margin-top: 4rem;
    }

    #btnContainer {
        /* border: 1px solid; */
        width: 80%;
        margin: auto;
        padding: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        background-color: white;
        border-radius: 50%;
        border: none;
        height: 100px;
        width: 100px;
        font-size: 45px;
        text-align: center;
        transition: all .5s;
    }

    button:hover {
        transform: scale(1.05);
    }

    #result_container {
        /* border: 1px solid; */
        height: 250px;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    #msg {
        /* border: 1px solid; */
        height: 50px;
        font-size: 25px;
        opacity: 0.9;
    }

    #result {
        font-size: 24px;
    }

    #total_score {
        /* border: 1px solid; */
        /* margin-top: 3rem; */
        padding: 1rem;
        font-size: 30px;
        letter-spacing: 4px;
    }

    #end {
        /* border: 1px solid; */
        margin-top: 1rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media all and (max-width: 1035px) {
    #main_container {
        /* border: 1px solid; */
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background: linear-gradient(120deg, #ffd23c 0%, #ffac05 100%);
        width: 45%;
        margin: auto;
        height: 650px;
        margin-top: 4rem;
    }

    #btnContainer {
        /* border: 1px solid; */
        width: 80%;
        margin: auto;
        padding: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        background-color: white;
        border-radius: 50%;
        border: none;
        height: 100px;
        width: 100px;
        font-size: 45px;
        text-align: center;
        transition: all .5s;
    }

    button:hover {
        transform: scale(1.05);
    }

    #result_container {
        /* border: 1px solid; */
        height: 250px;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    #msg {
        /* border: 1px solid; */
        height: 50px;
        font-size: 25px;
        opacity: 0.9;
    }

    #result {
        font-size: 24px;
    }

    #total_score {
        /* border: 1px solid; */
        /* margin-top: 3rem; */
        padding: 1rem;
        font-size: 30px;
        letter-spacing: 4px;
    }

    #end {
        /* border: 1px solid; */
        margin-top: 1rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media all and (max-width: 935px) {
    #main_container {
        /* border: 1px solid; */
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background: linear-gradient(120deg, #ffd23c 0%, #ffac05 100%);
        width: 50%;
        margin: auto;
        height: 650px;
        margin-top: 4rem;
    }

    #btnContainer {
        /* border: 1px solid; */
        width: 80%;
        margin: auto;
        padding: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        background-color: white;
        border-radius: 50%;
        border: none;
        height: 100px;
        width: 100px;
        font-size: 45px;
        text-align: center;
        transition: all .5s;
    }

    button:hover {
        transform: scale(1.05);
    }

    #result_container {
        /* border: 1px solid; */
        height: 250px;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    #msg {
        /* border: 1px solid; */
        height: 50px;
        font-size: 25px;
        opacity: 0.9;
    }

    #result {
        font-size: 24px;
    }

    #total_score {
        /* border: 1px solid; */
        /* margin-top: 3rem; */
        padding: 1rem;
        font-size: 30px;
        letter-spacing: 4px;
    }

    #end {
        /* border: 1px solid; */
        margin-top: 1rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media all and (max-width: 825px) {
    #main_container {
        /* border: 1px solid; */
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background: linear-gradient(120deg, #ffd23c 0%, #ffac05 100%);
        width: 60%;
        margin: auto;
        height: 650px;
        margin-top: 4rem;
    }

    #btnContainer {
        /* border: 1px solid; */
        width: 80%;
        margin: auto;
        padding: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        background-color: white;
        border-radius: 50%;
        border: none;
        height: 100px;
        width: 100px;
        font-size: 45px;
        text-align: center;
        transition: all .5s;
    }

    button:hover {
        transform: scale(1.05);
    }

    #result_container {
        /* border: 1px solid; */
        height: 250px;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    #msg {
        /* border: 1px solid; */
        height: 50px;
        font-size: 25px;
        opacity: 0.9;
    }

    #result {
        font-size: 24px;
    }

    #total_score {
        /* border: 1px solid; */
        /* margin-top: 3rem; */
        padding: 1rem;
        font-size: 30px;
        letter-spacing: 4px;
    }

    #end {
        /* border: 1px solid; */
        margin-top: 1rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media all and (max-width: 690px) {
    #main_container {
        /* border: 1px solid; */
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background: linear-gradient(120deg, #ffd23c 0%, #ffac05 100%);
        width: 80%;
        margin: auto;
        height: 650px;
        margin-top: 4rem;
    }

    #btnContainer {
        /* border: 1px solid; */
        width: 80%;
        margin: auto;
        padding: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        background-color: white;
        border-radius: 50%;
        border: none;
        height: 100px;
        width: 100px;
        font-size: 45px;
        text-align: center;
        transition: all .5s;
    }

    button:hover {
        transform: scale(1.05);
    }

    #result_container {
        /* border: 1px solid; */
        height: 250px;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    #msg {
        /* border: 1px solid; */
        height: 50px;
        font-size: 25px;
        opacity: 0.9;
    }

    #result {
        font-size: 24px;
    }

    #total_score {
        /* border: 1px solid; */
        /* margin-top: 3rem; */
        padding: 1rem;
        font-size: 30px;
        letter-spacing: 4px;
    }

    #end {
        /* border: 1px solid; */
        margin-top: 1rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media all and (max-width: 505px) {
    #main_container {
        /* border: 1px solid; */
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background: linear-gradient(120deg, #ffd23c 0%, #ffac05 100%);
        width: 60%;
        margin: auto;
        height: 550px;
        margin-top: 1.5rem;
    }

    #btnContainer {
        /* border: 1px solid; */
        width: 80%;
        margin: auto;
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        background-color: white;
        border-radius: 50%;
        border: none;
        height: 70px;
        width: 70px;
        font-size: 25px;
        text-align: center;
        transition: all .5s;
    }

    button:hover {
        transform: scale(1.05);
    }

    #result_container {
        /* border: 1px solid; */
        height: 150px;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    #msg {
        /* border: 1px solid; */
        /* height: 50px; */
        font-size: 17px;
        opacity: 0.9;
    }

    #result {
        /* border: 1px solid; */
        font-size: 18px;
    }

    #total_score {
        /* border: 1px solid; */
        /* margin-top: 3rem; */
        padding: 1rem;
        font-size: 20px;
        letter-spacing: 1px;
    }

    #end {
        /* border: 1px solid; */
        margin-top: 5rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media all and (max-width: 464px) {
    #main_container {
        /* border: 1px solid; */
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background: linear-gradient(120deg, #ffd23c 0%, #ffac05 100%);
        width: 60%;
        margin: auto;
        height: 400px;
        margin-top: 7.7rem;
    }

    #btnContainer {
        /* border: 1px solid; */
        width: 80%;
        margin: auto;
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        background-color: white;
        border-radius: 50%;
        border: none;
        height: 40px;
        width: 40px;
        font-size: 17px;
        text-align: center;
        transition: all .5s;
    }

    button:hover {
        transform: scale(1.05);
    }

    #result_container {
        /* border: 1px solid; */
        height: 150px;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    #msg {
        /* border: 1px solid; */
        /* height: 50px; */
        font-size: 15px;
        opacity: 0.9;
    }

    #result {
        /* border: 1px solid; */
        font-size: 14px;
    }

    #total_score {
        /* border: 1px solid; */
        /* margin-top: 3rem; */
        padding: 1rem;
        font-size: 18px;
        letter-spacing: 1px;
    }

    #end {
        /* border: 1px solid; */
        margin-top: 3rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}